In [1]:
import pandas as pd

# Préparation des données

Suite à l'étape d'analyse des données, il est clair que l'ensemble des données fournies sont déjà quasiment prêtes à être utilisées pour l'entraînement du modèle. Nous allons tout de même procéder à quelques étapes pour nous assurer que les données sont prêtes à être utilisées pour différents types de modèles.

## Nettoyage

Nous avons vu qu'il y avait deux lignes avec des valeurs aberrantes que nous allons supprimer. Les deux lignes concernées étaient celles qui correspondaient à des téléphones dont les pixels en hauteur ont une valeur nulle.

In [2]:
phone = pd.read_csv("data/raw/train.csv")

In [3]:
phone[phone["px_height"] == 0]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1481,1834,0,2.1,0,7,1,40,0.1,99,4,...,0,1987,3692,13,0,16,1,1,0,3
1933,897,1,2.0,0,3,1,2,0.6,154,8,...,0,994,1958,7,5,7,1,1,0,1

In [4]:
"""Supprimer les lignes avec des valeurs aberrantes"""
phone = phone[phone["px_height"] != 0]

Maintenant que les données sont nettoyées, nous allons les sauvegarder dans différents fichiers sous différents formats afin de les préparer et les tester pour différents types de modèles.

## Sauvegarde des données

Nous allons sauvegarder les données afin de les utiliser pour différents types de modèles.

In [5]:
phone.to_csv("data/cleaned/cleaned_data.csv", index=False)

## Conclusion

Les données ont été sauvegardées dans un fichier CSV et sont prêtes à être utilisées pour différents types de modèles.